# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db

# api
NODE_ENV=docker
DATABASE_URL=postgres://root:changeme@postgres:5432/db
DB_HOST=postgres
DB_TYPE=postgres
DB_NAME=db
DB_USER=root
DB_PASSWORD=changeme
CORS_ORIGIN=*
SELF_HOST=localhost:23085
JWT_AUDIENCE=account
JWT_ISSUER=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_NETWORK_URI=https://accounts.gaze.dev/auth/realms/test-accounts
JWT_CLIENT=housingdb
ADDRESS_API=https://geocode-api.pittsburghhousing.org/geocode
ADDRESS_API_KEY=abc123
TEST_USER=testing
TEST_PASSWORD=password123
SUPER_ADMIN_USER=testing-admin
SUPER_ADMIN_PASSWORD=password123
# Test-Accounts user testing-admin
SUPER_ADMIN=5485c31b-f05c-4322-a071-78385188f4e9
# Limit Properties - State - Short Format
ADDRESS_LIMIT_STATE=PA
# Limit Properties - County - Long Format
ADDRESS_LIMIT_COUNTY=Allegheny County
# DANGER: If you uncomment this, it will force wipe and restructure the database
DB_DESTROY_DATABASE_RESTRUCTURE=DB_DESTROY_DATABASE_RESTRUCTURE
