# postgres
POSTGRES_USER=root
POSTGRES_PASSWORD=changeme
POSTGRES_DB=db

# api
NODE_ENV=docker
DB_HOST=postgres
DB_TYPE=postgres
DB_NAME=db
DB_USER=root
DB_PASSWORD=changeme
CORS_ORIGIN=*
SELF_HOST=localhost:23085
JWT_AUDIENCE=account
JWT_ISSUER=http://localhost:8081/auth/realms/gaze-accounts
JWT_NETWORK_URI=http://keycloak:8080/auth/realms/gaze-accounts
JWT_CLIENT=housingdb
ADDRESS_API=https://maps.googleapis.com/maps/api/geocode/json
ADDRESS_API_KEY=abc123
